 * {
  margin: 0;
  padding: 0;
}
html, body {
font-family: 'Arial';
height: 100%;
}
h1, h4 {
 color: #f8b891;
 -webkit-text-stroke: 1px #C69374;
  text-stroke: 1px #C69374;
 }

.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 60px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

a,p {
 color: #000000;
}
.navbar{
 background:#f8b891;
 margin-left: 10px;
 margin-right: 10px;
}
.nav-link , .navbar-brand{
 color: #000000;
 cursor: pointer;
}
.nav-link{
 margin-right: 3em !important;
}

.nav-link:hover{
 background: #f8b891;
 color: #a7545e;
}
.nav-link a{
text-decoration: none !important;
}

.nav-link a:hover{
 background: #f8b891;
 color: #a7545e;
 text-decoration: none !important;
}

.navbar-collapse{
 justify-content: center;
}
footer {
    bottom: 0;
    width: 100%;
    height: 56px;
}
div.blockcard {
 margin-left: auto;
 margin-right: auto;
 width: 75em
}
.text-block-index {
text-align: center;
margin-top: 80px;
margin-bottom: 30px;
font-size: 40px;
color: #000000;
text-decoration: overline;
}

.card-title {
margin: 15px 220px;
font-size: 40px;
font-weight: bold;
background:#f8b891;
opacity:0.7;
text-decoration: none !important;
}

.text-block-other {
text-align: center;
margin-top: 80px;
margin-bottom: 30px;
font-size: 40px;
color: #000000;
}
.text-block-other p{
font-size: 25px;
}
.recipe-block-left h4{
color: #000000;
}


.box {
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
}

.catalog-block-left{
 margin: 6px;
 width: calc(25% - 12px);

}
.catalog-block-left a{
text-decoration: none !important;
}

.catalog-block-right{
margin: 6px;
width: calc(75% - 12px);
}

.link-show-category{
 background: #f2eceb;
 padding: 5px;
 margin: 1px;
 box-sizing: border-box;
 overflow: hidden;
 color: #000000;
 text-decoration: none !important;
}
.link-show-category:hover{
 background: #f8b891;
 color: #a7545e;
 text-decoration: none;
}
.link-show-category a{
 text-decoration: none !important;
}
.cat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 350px);
}

#text-link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
   text-decoration: none !important;

}
a #text-link{
font-size: 7pt;
}
.card a:hover{
 color: #a7545e;
 text-decoration: none;
}



.form-box {
margin-left: 300px;
margin-right: 300px;
margin-top: 10px;
}
.form-label {
margin-top: 20px;
}

.form-box button {
  background-color: #f2eceb;
  color: black;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 100px;
}
.form-box button:hover {
background-color: #f8b891;
}

.recipe-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}
.recipe-block-left{
 margin: 6px;
 width: calc(30% - 12px);
}
.recipe-block-right{
margin: 6px;
width: calc(70% - 12px);
vertical-align: top;
}
.recipe-block-right h4{
color: 000000 !important;
}

.text-recipe{
margin-top: 10px;
margin-left: 300px;
margin-right: 200px;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
}

.product-block-left{
 margin: 6px;
 width: calc(30% - 12px);
}
.product-block-right{
margin: 6px;
width: calc(70% - 12px);
vertical-align: top;
}
.product-block-right p{
margin-top: 20px;
vertical-align: top;
font-size: 20px;
margin-right:100px;
}

#crumbs ol li a {
  color: #000000;
  text-decoration: none !important;
}
#crumbs ol li a:hover {
  color: #f8b891;
}

.row {
margin-top: 50px;
}

.table td{
padding: 10px;
}
.total td{
background-color: #f2eceb;
padding: 20px;
}


.choice-right {
float: right;
margin-right: 50px;

}
.choice-right a:hover {
color: #a7545e;
background-color: #f2eceb;
}

.card button {
  background-color: #f2eceb;
  color: black;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  width: 100px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.card button:hover {
background-color: #f8b891;
}

#delete {
 color: #000000;
 text-decoration: none !important;
}
#delete:hover{
 color: #a7545e;
 text-decoration: none !important;
}
.product-block-right button {
  background-color: #f2eceb;
  color: black;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  width: 100px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.product-block-right button:hover {
background-color: #f8b891;
}
